.register-container{
    .container-fluid{
        width: 1448px;
        box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.125);
        .contact{
            flex-direction: column; 
            justify-content: center;
            flex-shrink: 0;
            color: #000;
            font-family: Oswald;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .search-bar{
            width: 645px;
            height: 55px;
            flex-shrink: 0;
            border-style: none;
            border-radius: 25px;
            background: #E3E3E3;
            color: #747474;
            font-family: Oswald;
            padding-left: 30px;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        .search-icon{
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            margin: 11px 24px 10px 0;
        }
        .icon{
            margin-top: 6px;
            margin-right:18px;
        }
        .total-cart{
            color: #000;
            font-family: Oswald;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .second-nav a{
            text-decoration: none;
            flex-direction: column;
            justify-content: center;
            color: #E7596D;
            text-align: center;
            font-family: Oswald;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 24px 42px 12px 10px;

            &:hover{
                color: #DFA3AB;
            }
        }
        .text h1{
            margin-top: 23px;
            color: #000;
            font-family: Oswald;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .text p{
            color: #000;
            font-family: Oswald;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        .text a{
            text-decoration: none;
            color: #E7596D;
            &:hover{
                text-decoration: underline;
            }
        }
        .line{
            border: 0.25px solid #747474;
            border-color: rgba(0, 0, 0, 0.125);
            width: 930px;
            margin-bottom: 20px;
        }
        .form-register{
            color: #000;
            margin-top:11px;
            font-family: Oswald;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .input-register{
            color: #747474;
            font-family: Oswald;
            font-size: 24px;
            margin-bottom: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-left: 30px;
            width: 693px;
            height: 51px;
            border-radius: 10px;
            border: 1px solid #CCC;
            background: #FFFDFD;
        }
        .checkbox{
            width: 20px;
            height: 20px;
            margin: 20px 10px 0 0;
        }
        .DK-DK{
            text-decoration: none;
            color:#E7596D;
            &:hover{
                text-decoration: underline;
            }
        }
        .btn-register{
            background-color: #E7596D;
            border: none;
            border-radius: 8px;
            width: 185px;
            height: 64px;
            color: #FFF;
            text-align: center;
            font-family: Oswald;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .footer h3{
            margin-top: 21px;
            color: #000;
            text-transform: uppercase;
            font-family: Oswald;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .footer a{
            display: block;
            text-decoration: none;
            color: #000;
            font-family: Oswald;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            &:hover{
                text-decoration: underline;
            }
        }
        .footer p{
            color: #000;
            font-family: Oswald;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-bottom: 15px;
        }
    }
}