
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
}

.header {

}

.header-bar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 36px !important
}

.first-nav {
    margin-bottom: 25px;
}

.header-contact {
    display: flex;
    width: 105px;
    height: 53px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 41px;
}

.header .search-bar {
    position: relative; width: 642px; height: 55px; flex-shrink: 0; border-radius: 25px; background: #E3E3E3;
}

.header .search-bar-input {
    width: 642px; height: 55px; border-radius: 25px
}

.header .search-button {
    overflow: hidden;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 11px 24px 10px 0;
}

.user-icon {
    margin-left: 41px;
}

.favourite-icon {
    padding-left: 18px;
}

.shopping-cart {
    padding-left: 18px;
}

.cart-and-price {
    display: flex;
    width: 105px;
    height: 53px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 23px;
}

.first-nav-text {
    color: #000;
    font-family: Oswald;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.second-nav ul {
    padding: 0;
}

.second-nav li {
    display: inline-block;
}

.second-nav li a {
    display: flex;
    width: 102px;
    height: 50px;
    margin-right: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #E7596D;
    text-align: center;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lien-he {
    color: #E7596D;
}

.lien-he:hover {
    color: #DFA3AB;
}

.slider {

}

.content {

}

.footer {

}
